<h1>Contact Book</h1>

<button (click)="addform()">addmore..</button><br>

<form [formGroup]="userform" (ngSubmit)="submit_details()">
    <label for="text">name :</label>
    <input type="text"  class="form-control" name="name" formControlName="name">

    <label for="text">phone no : </label>
    <input type="number"  class="form-control" name="phno" formControlName="phno">
    
    <button type="submit" >Add</button>
</form>


<br>
Contact list : 
<div *ngFor="let person of contact_list"> 
      <br>
      <div>name : {{person.name}}</div> 
      <div>phno : {{person.phno}}</div> 
      <div><button (click)="delContact(person)">Delete</button></div>
</div>
    