<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <title>Document</title>
</head>
<body>
  <nav class="navbar">
    <div class="max-width">
      <div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a routerLink="/about" >About</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Achievements</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>
  </nav>  
  
  <router-outlet></router-outlet>

</body>
</html>